<div class="large-content-page-container hidden-xs">
  <div class="large-content-page-left">
<!--     <div class="up-arrow">
      <i class="fas fa-angle-up"></i>
    </div> -->
    <div class="large-content-page-content">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <h1>coding</h1>
          <div class="large-content-page-text">
            <p>
              During the summer of 2018 I learnt to code at <a href="https://www.lewagon.com/london" class="website-link" target="_blank">Le Wagon</a>'s 9-week intensive bootcamp. During the final 2 weeks, 3 classmates and I built our first web application - a travel itinerary planner called <a href="https://www.trippper.online" class="website-link" target="_blank">Tripper</a>. Click <a href="https://www.lewagon.com/demoday/173/tripper" class="website-link" target="_blank">here</a> to watch me present our product at Google Campus in London. After finishing the course I taught at the bootcamp until March 2019, helping the students through their daily challenges.
            </p>
            <p>
              I am proficient in Ruby, Ruby on Rails, Javascript ES6, HTML, CSS, SQL and Heroku, and in the next couple of months I plan to  learn React and Redux.
            </p>
            <div class="programming-languages-large-screen">
              <%= image_tag "ruby", class: 'ruby icon'%>
              <%= image_tag "rails", class: 'rails icon'%>
              <%= image_tag "html-css-js", class: 'html-css-js-small icon'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="large-content-page-right">
    <div class="large-content-page-visuals">
      <div class="large-coding-image large-content-page-image">
        <div class="large-content-page-box-small small-coding-box">
        </div>
        <div class="large-content-page-box-large large-coding-box large-screen-box">
          <div class="box-text">
            <h6 class="black-box-text">
              <a href="www.wesofod.com" class="website-link" target="_blank">Here</a> is a website I built recently in Sierra Leone for a local NGO
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="small-content-page-container hidden-sm hidden-md hidden-lg">
  <div class="small-content">
  <!-- <div class="small-up-arrow"><i class="fas fa-angle-up"></i></div> -->
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div data-aos="fade-zoom-in"
             data-aos-anchor-placement="center-bottom"
             data-aos-duration="2000"
             data-aos-delay="50">
          <h1 class="text-center">coding</h1>
          <div class="small-content-page-text">
            <p>
              During the summer of 2018 I learnt to code at <a href="https://www.lewagon.com/london" class="website-link" target="_blank">Le Wagon</a>'s 9-week intensive bootcamp. During the final 2 weeks, 3 classmates and I built our first web application - a travel itinerary planner called <a href="https://www.trippper.online" class="website-link" target="_blank">Tripper</a>. Click <a href="https://www.lewagon.com/demoday/173/tripper" class="website-link" target="_blank">here</a> to watch me present our product at Google Campus in London. After finishing the course I taught at the bootcamp until March 2019, helping the students through their daily challenges.
            </p>
            <p>
              I am proficient in Ruby, Ruby on Rails, Javascript ES6, HTML, CSS, SQL and Heroku, and in the next couple of months I plan to  learn React and Redux.
            </p>
          </div>
          <div data-aos="fade-zoom-in"
             data-aos-anchor-placement="bottom-bottom"
             data-aos-duration="2000"
             data-aos-delay="50">
            <div class="programming-languages-small-screen">
              <div class="pl-top">
                <%= image_tag "ruby", class: 'ruby icon'%>
                <%= image_tag "rails", class: 'rails icon'%>
              </div>
              <div class="pl-bottom">
                <%= image_tag "html-css-js", class: 'html-css-js-large icon'%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="small-content-page-visuals">
          <div class="large-coding-image large-content-page-image">
            <div class="large-content-page-box-small small-coding-box"></div>
            <div class="large-content-page-box-large large-coding-box">
              <div class="box-text">
                <div data-aos="fade-zoom-in"
                     data-aos-delay="50"
                     data-aos-duration="2000"
                     data-aos-anchor-placement="bottom-bottom">
                  <h6 class="black-box-text">
                    <a href="www.wesofod.com" class="website-link" target="_blank">Here</a> is a website I built recently in Sierra Leone for a local NGO
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


