<div class="large-screen-display">
  <div class="fullpage-home" id="fullpage">
    <div class="section">
      <%= render 'pages/banner' %>
    </div>
    <div class="whitespace hidden-xs"></div>
    <div class="small-whitespace hidden-sm hidden-md hidden-lg"></div>
    <div class="section">
      <%= render 'pages/welcome' %>
    </div>
    <div class="whitespace hidden-xs"></div>
    <div class="small-whitespace hidden-sm hidden-md hidden-lg"></div>
    <div class="section">
      <%= render 'pages/coding' %>
    </div>
    <div class="whitespace hidden-xs"></div>
    <div class="small-whitespace hidden-sm hidden-md hidden-lg"></div>
    <div class="section">
      <%= render 'pages/sierraleone' %>
    </div>
    <div class="whitespace hidden-xs"></div>
    <div class="small-whitespace hidden-sm hidden-md hidden-lg"></div>
    <div class="section">
      <%= render 'pages/environment' %>
    </div>
    <div class="whitespace hidden-xs"></div>
    <div class="small-whitespace hidden-sm hidden-md hidden-lg"></div>
    <div class="section">
      <%= render 'pages/hobbies' %>
    </div>
    <div class="whitespace hidden-xs"></div>
    <div class="section">
      <%= render 'pages/contact' %>
      <%= render 'shared/footer' %>
    </div>
  </div>
</div>

<script type="text/javascript">
      $(document).ready(function() {
          $('#fullpage').fullpage({
            licenseKey: '518F26B2-35144829-B51158D9-27B10D25',
            navigation: true,
            navigationPosition: 'left',
            // // scrollOverflow: true,
            // // scrollOverflowReset: true,
            responsiveWidth: 767,
            responsiveHeight: 567,
            anchors: ['home','welcome','coding','sierra-leone','sustainability','hobbies','contact'],
            loopBottom: true,
            loopTop: true,
            resize : false,
            css3: true
          });
      });
</script>
