<div class="header">
  <div class="header-left">
    <div class="header-text">
      <h2>harry ryder</h2>
      <p>An anthropology graduate - I'm interested in startups, technology and sustainability</p>
    </div>
    <i class="fas fa-angle-down down-arrow"></i>
  </div>
  <div class="header-right">
    <div class="header-headshot"></div>
  </div>
</div>

<div class="large-screen-display hidden-xs">
  <div class="whitespace"></div>
  <%= render 'pages/welcome' %>
  <div class="whitespace"></div>
  <%= render 'pages/coding' %>
  <div class="whitespace"></div>
  <%= render 'pages/sierraleone' %>
  <div class="whitespace"></div>
  <%= render 'pages/environment' %>
  <div class="whitespace"></div>
  <%= render 'pages/contact' %>
  <%= render 'shared/footer' %>
</div>

<div class="small-screen-display hidden-sm hidden-md hidden-lg">
  <div class="small-whitespace"></div>
  <%= render 'pages/welcome' %>
  <div class="small-whitespace"></div>
  <%= render 'pages/coding' %>
  <div class="small-whitespace"></div>
  <%= render 'pages/sierraleone' %>
  <div class="small-whitespace"></div>
  <%= render 'pages/environment' %>
  <%= render 'pages/contact' %>
  <%= render 'shared/footer' %>
</div>

<%= javascript_pack_tag 'scroll' %>


<%#= image_tag "pokhara", style: 'height: 100vh; background-size: cover, background-position: center; width: 100vw', class: 'hero-image' %>
