<div class="large-screen-display">
  <div class="fullpage-home" id="fullpage">
    <div class="section">
      <%= render 'pages/banner' %>
    </div>
    <div class="whitespace hidden-xs"></div>
    <div class="small-whitespace hidden-sm hidden-md hidden-lg"></div>
    <div class="section">
      <%= render 'pages/welcome' %>
    </div>
    <div class="whitespace hidden-xs"></div>
    <div class="small-whitespace hidden-sm hidden-md hidden-lg"></div>
    <div class="section">
      <%= render 'pages/coding' %>
    </div>
    <div class="whitespace hidden-xs"></div>
    <div class="small-whitespace hidden-sm hidden-md hidden-lg"></div>
    <div class="section">
      <%= render 'pages/sierraleone' %>
    </div>
    <div class="whitespace hidden-xs"></div>
    <div class="small-whitespace hidden-sm hidden-md hidden-lg"></div>
    <div class="section">
      <%= render 'pages/environment' %>
    </div>
    <div class="whitespace hidden-xs"></div>
    <div class="section">
      <%= render 'pages/contact' %>
      <%= render 'shared/footer' %>
    </div>
  </div>
</div>

<!-- <div class="small-screen-display hidden-sm hidden-md hidden-lg">
  <div class="small-whitespace"></div>
  <%#= render 'pages/welcome' %>
  <div class="small-whitespace"></div>
  <%#= render 'pages/coding' %>
  <div class="small-whitespace"></div>
  <%#= render 'pages/sierraleone' %>
  <div class="small-whitespace"></div>
  <%#= render 'pages/environment' %>
  <%#= render 'pages/contact' %>
  <%#= render 'shared/footer' %>
</div> -->
