<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>harry's page</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="jquery.fullPage.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="vendors/jquery.easings.min.js"></script>
    <script type="text/javascript" src="vendors/scrolloverflow.min.js"></script>
    <script type="text/javascript" src="jquery.fullPage.min.js"></script>

      <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
              licenseKey: '518F26B2-35144829-B51158D9-27B10D25',
              navigation: true,
              navigationPosition: 'left',
              // scrollOverflow: true,
              // scrollOverflowReset: true,
              responsiveWidth: 767,
              responsiveHeight: 667,
              anchors: ['home','welcome','coding','sierra-leone','sustainability','hobbies','contact'],
              loopBottom: true,
              loopTop: true,
              resize : false,
              css3: true
            });
        });
      </script>
  </head>
  <body>
    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
  </body>
</html>
